<p><style type="text/css">
/* Reset Margins and Paddings */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica;

}

h2{
    font-size: 35px;
    font-family: 'Helvetica Neue', Helvetica;
}

p{
    font-size: 20px;
}

/* Media Query for 2560px */
@media screen and (min-width: 2560px) {
    .first_section {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 850px !important;
    }

    .first_section .colorWorksText {
        /* margin-left: -600px; */
        display: flex;
        flex-direction: column;
        max-width: 30%;      
        margin-left: -650px;
    }
}

.first_section {
    background-image: url(https://pro.epson.asia/forms/hybris/FY23_CW_Customer_Success_Stories/img/case-studies-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    /* text-align: center; */
}

.first_section .colorWorksText {
    width: 50%;
    padding-bottom: 50px;
    padding-left: 50px;
}

.first_section .colorWorksText h2{
    font-weight: 700;
}

.second {
    background: linear-gradient(0deg, rgba(27,40,60,1) 0%, rgba(29,105,216,1) 100%);
}

.second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    margin: auto;
}

.second_section h2 {
    text-align: center;
    color: #FFF;
    margin-top: 50px;
    font-weight: 700;
    font-size: 35px;
}

.second_section img {
    max-width: 60%;
    text-align: center;
    margin-top: 50px !important;
}

.second_section .colorWorkImpact{
    margin-top: 90px;
}

/* multiple tabs */

.multiple_tabs {
    margin-bottom: 50px;
    margin-top: 30px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgb(31, 157, 189) !important;
    border-radius: 0px;
}

li.nav-item {
    border-right: 1px solid #FFF;
    background-color: #000;
}

li.nav-item.retail {
    border-right: none;
}
.nav-pills .nav-link {
    color: #FFF;
}

ul#pills-tab {
    display: flex;
    justify-content: center;
}

button.carousel-control-next {
    justify-content: space-between;
    width: auto;
    right: -70px;
}

button.carousel-control-prev{
    justify-content: space-between;
    width: auto;
    left: -70px;
}

/* Slider */
.card{
    --bs-card-border-radius: 0px !important;
    padding: 10px;
    border-radius: 0px !important;
}

.col-md-4 .card .card-title, .col-md-12 .card .card-title{
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: rgb(30, 85, 173);
    margin-top: 10px;
}

.col-md-4 .card .card-text, .col-md-12 .card .card-text{
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica;
    color: #000;
}

/* mobile slider */
.carousel-inner.mobile_carousel {
    display: none;
}

/* third_section */
.third_section{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(143,177,193,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.form_title{
    padding-bottom: 30px;
}

.form_title h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Helvetica Neue', Helvetica;

}

.form_title p{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica;

}

iframe.gfiframe {
    background-color: #FFF;
    padding: 50px;
    border-radius: 8px;
    width: 100%;
}

.enquire_form {
    /* width: 50%; */
    /* margin: auto; */
}

label.gfield_label.gform-field-label:before {
    content: "*";
    color: #c02b0a;
    display: inline-block;
    font-size: 13.008px;
    padding-left: .125em;
    padding-right: 5px;
}

.gform_wrapper.gravity-theme .gfield_required{
    display: none;
}









/* .third_section{
    margin-top: 90px;
} */

/* @media only screen and (max-width: 768px){
    .form.col-md-9.col-sm-12 {
        width: 700px;
}
} */

@media (max-width: 1024px) {
    .first_section .colorWorksText{
        padding-bottom: 30px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .form.col-md-9.col-sm-12 {
        width: 700px;
}
.second_section .colorWorkImpact {
    margin-top: 20px;
}


.first_section .colorWorksText{
    width: 70%;
}



}
    

@media only screen and (max-width: 767px) {

    h2{
        font-size: 20px;
    }
    

    p{
        font-size: 15px;
    }

    .first_section {
        height: auto;
        background-size: cover !important;
        /* display: inline-block;
        flex-direction: row;
        justify-content: center;
        align-items: center; */
    }

    .second_section img{
        max-width: 110% !important;
    }

    .first_section .colorWorksText {
        width: 77%;
        /* display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end; */
        padding-left: 10px;
        padding-bottom: 0px;
        padding-top: 250px;
        
    }

    .first_section .colorWorksText h2{
        /* padding-top: 250px; */
        /* margin-top: 250px; */
    }

    button.carousel-control-next{
        right: -37px !important;
    }

    button.carousel-control-prev{
        left: -37px !important;
    }

    .carousel-inner.mobile_carousel {
        display: block;
    }

    .carousel-inner.desktop_carousel {
        display: none;
    }

    iframe.gfiframe{
        /* width: auto !important; */
        padding: 30px !important;
    }

button.carousel-control-prev {
    left: -30px !important;
}

svg.bi.bi-arrow-right-circle-fill {
    width: 25px !important;
}

svg.bi.bi-arrow-left-circle-fill {
    width: 25px !important;
}
button.carousel-control-next {
    right: -30px !important;
}

.form_title {
    line-height: 1.3;
}

.form_title h2 {
    font-size: 30px;
    padding: 0px 20px;
}

.second_section h2 {
    font-size: 30px !important;
}

main {
    margin-top: 0px;
}

.second_section .colorWorkImpact {
    margin-top: 0px !important;
}


}

</style></p>